a {
  font-style: italic;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fa4616;
}

.about {
  margin: 0;
  padding: 0.5em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.deselect-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  color: lightgray;
}
.deselect-icon:hover {
  color: #fa4616;
}

em {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 700;
}
form {
  width: 100%;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.5em;
  background-color: white;
}
h3 {
  font-family: "DM Serif Display", serif;
}
h1:hover {
  color: #fa4616;
  transition: color 0.3s ease;
}

label {
  font-size: 0.8em;
}
.list-container {
  height: 100%;
  grid-area: list;
  padding: 0 1em auto 1em;
  overflow: scroll;
}

.list-row {
  position: relative;
  text-align: left;
  margin: 0.5em;
}

.list-row-info {
  margin: 0.5em;
  padding: 0 0 0.3em 2em;
  border-bottom: 0.3px solid lightgray;
}

.loading {
  margin: 40% 0 0 0;
}

.main-container {
  display: grid;
  height: 80vh;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: map map list;
}

#map {
  z-index: 0;
  height: 100vh;
  width: 70vw;
}

.map-container {
  grid-area: map;
}

.map-deselect-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: lightgray;
}

.map-deselect-icon:hover {
  color: #fa4616;
}

.map-select-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: lightgray;
}

.map-select-icon:hover {
  color: #79d97c;
}

.map-item {
  height: auto;
  min-width: 9em;
  background-color: white !important;
  border-radius: 2px;
  color: black;
  padding: 1em;
  z-index: 10 !important;
  font-size: 1.3em;
  position: relative;
}

.marker {
  color: rgba(0, 0, 0, 0.4);
}

.marker-selected {
  color: #fa4616;
}

.multi-line {
  white-space: pre-line;
}

p {
  font-size: 0.8em;
}

.person-pin {
  color: gold;
}
.single-exhibition-image {
  width: 95%;
}

.title {
  grid-area: title;
}

@media only screen and (max-width: 790px) {
  .banner {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 10 !important;
  }

  h1 {
    font-size: 1.3em;
  }

  .list-container {
    height: auto;
    grid-area: list;
    padding: 0 1em auto 1em;
    overflow: hidden;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }
  #map {
    height: 65vh;
    width: 100%;
  }
}
